<!DOCTYPE html>
<html>
  <head>
    <title>Save A Life - AED Locator Map</title>
    <link rel='stylesheet' href='/css/custom.css'/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <script src='/js/custom.js'></script>
    <script src="/js/handlebars.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  </head>
  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">AED Locator Map</a>
      </div>
    </nav>
    <div id='map'></div>
    <footer class="page-footer orange">
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="orange-text text-lighten-3" href="#">Karl Turner</a>
        </div>
      </div>
    </footer>
    <% if (aedData) { %>
      <script>
        const aeds = <%- JSON.stringify(aedData) %>;
      </script>
    <% } %>
    <script id="aedTemplate" type="text/x-handlebars-template">
      <div id="siteNotice"></div>
      <h5 id="firstHeading" class="firstHeading">{{facility_name}}</h5>
      <div id="bodyContent">
        <p>
          <b>{{address_line_1}}, {{address_line_2}}, {{post_code}}</b>
        </p>
        <ul>
          {{#if phone}}
            <li><b>Phone Contact</b>: {{phone}}</li>
          {{/if}}
          <li><b>Number of AEDs</b>: {{aed_count}}</li>
          {{#if aed_location}}
            <li><b>Location of AED</b>: {{aed_location}}</li>
          {{/if}}
        </ul>
      </div>
    </script>
    <script src='/js/markerClusterer.js'></script>
    <script async defer src='https://maps.googleapis.com/maps/api/js?key=<%- googleKey %>&callback=initMap'></script>
  </body>
</html>
